[user]
        name = "Joel Dice"
        email = "joel.dice@gmail.com"
        signingkey = 7C01F00E4C7569C9

[alias]
  cf = -c user.name='Joel Dice' -c user.email='joel.dice@fermyon.com' commit -s -Sjoel.dice@fermyon.com
  rb = rebase -Sjoel.dice@fermyon.com
